<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chs.activity.dao.GameListMapper">


    <insert id="insert" parameterType="com.chs.activity.modal.entity.GameListEntity" useGeneratedKeys="true" keyProperty="id">
        insert into game_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>

            <if test="gameList != null">
                game_list,
            </if>


            <if test="createTime != null">
                create_time,
            </if>

            <if test="updateTime != null">
                update_time,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>

            <if test="gameList != null">
                #{gameList},
            </if>


            <if test="createTime != null">
                #{createTime},
            </if>

            <if test="updateTime != null">
                #{updateTime},
            </if>

        </trim>
    </insert>

    <update id="update" parameterType="com.chs.activity.modal.entity.GameEntity">
        update game
        <set>

            <if test="name != null">
                name = #{name},
            </if>

            <if test="gameList != null">
                game_list = #{gameList},
            </if>


            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>

        where id = #{id}
    </update>

</mapper>