<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chs.activity.dao.GameUserMapper">


    <insert id="insert" parameterType="com.chs.activity.modal.entity.GameUserEntity" useGeneratedKeys="true" keyProperty="id">
        insert into game_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="phone != null">
                phone,
            </if>

            <if test="gameId != null">
                game_id,
            </if>

            <if test="orderId != null">
                order_id,
            </if>


            <if test="createTime != null">
                create_time,
            </if>

            <if test="updateTime != null">
                update_time,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="phone != null">
                #{phone},
            </if>

            <if test="gameId != null">
                #{gameId},
            </if>

            <if test="orderId != null">
                #{orderId},
            </if>


            <if test="createTime != null">
                #{createTime},
            </if>

            <if test="updateTime != null">
                #{updateTime},
            </if>

        </trim>
    </insert>

</mapper>