<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.UserMapper">


  <select id="findByName"  resultType="com.web.entity.UserEntity">
    SELECT id, name, create_time
    FROM USER
    WHERE name = #{name}
    LIMIT 1

  </select>

</mapper>