<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <!--<classPathEntry location="/Program Files/IBM/SQLLIB/java/db2java.zip" />-->


    <!--MyBatis3Simple 不生成Selective后缀的
    MyBatis3 生成Selective后缀的
    -->
    <context id="DB2Tables" targetRuntime="MyBatis3Simple">

        <!--隐藏日期、去除注释-->
        <commentGenerator>
            <property name="suppressDate" value="true" />
            <property name="suppressAllComments" value="true" />
        </commentGenerator>

        <!--数据库连接地址账号密码-->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost/myadmin?serverTimezone=UTC&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;nullCatalogMeansCurrent=true"
                        userId="root"
                        password="123456">
        </jdbcConnection>


        <!--<javaTypeResolver >-->
        <!--<property name="forceBigDecimals" value="false" />-->
        <!--</javaTypeResolver>-->

        <!--生成Model/DataObject类存放的位置-->
        <javaModelGenerator targetPackage="com.chs.entity" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <!--生成映射文件存放的位置-->
        <sqlMapGenerator targetPackage="mappers"  targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <!--生成Dao类存放的位置-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.chs.dao"  targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>


        <!--生成对应表及类名-->



        <table  tableName="user" domainObjectName="UserEntity" enableCountByExample="false"
                enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
                selectByExampleQueryId="false" ></table>
        <!--<table tableName="user_password" domainObjectName="UserPasswordDO" enableCountByExample="false"-->
        <!--enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false"></table>-->

        <!--<table tableName="item" domainObjectName="ItemDO" enableCountByExample="false"-->
        <!--enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false"></table>-->
        <!--<table tableName="item_stock" domainObjectName="ItemStockDO" enableCountByExample="false"-->
        <!--enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false"></table>-->

        <!--<table tableName="order_info" domainObjectName="OrderDO" enableCountByExample="false"-->
        <!--enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false"></table>-->


        <!--<table tableName="sequence_info" domainObjectName="SequenceDO" enableCountByExample="false"-->
        <!--enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false"></table>-->

        <!--<table tableName="promo" domainObjectName="PromoDO" enableCountByExample="false"-->
        <!--enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false"></table>-->



    </context>
</generatorConfiguration>