<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chs.dao.UserMapper">
    <select id="findById" parameterType="String" resultType="User">
        select * from user where id =#{id}
    </select>

    <delete id="deleteById" parameterType="String">
      delete from user where id = #{id}
    </delete>


    <insert id="insertEntity" parameterType="User">
        insert into user(id,age,create_time,name,real_name)
        values (#{id},#{age},#{createTime},#{name},#{realName})
    </insert>

    <update id="updateByEntity" parameterType="User">
        update user set name = #{name} where id  =#{id}
    </update>

    <select id="findMapById" parameterType="String" resultType="java.util.Map">
        select * from user where id =#{id}
    </select>
</mapper>